body{
  background-image: url(../img/deux.jpg);
  background-repeat: no-repeat; 
}
#zone{
   font-size: 40px;
   color: white;

    
}
#red1{
    font-size: 40px;
    color: white;
}
#red2{
    font-size: 40px;
    color: red;
}

.red{
    height: 200px;
    background-color: rgba(0, 0, 255, 0.2);   
}
.red4{
    margin-top: 70px;
     padding: 15px;
}
