body{
  background-image: url(../img/deux.jpg);
  background-repeat: no-repeat; 
}
p{
   font-size: 40px;
   color: white;

    
}
#red2{
    color: red;
}

.red{
    width: 100%;
    height: 250px;
    background-color: ;
    background-color: rgba(0, 0, 255, 0.2);
    
    
}
.red4{
    margin-top: 80px;
     padding: 15px;
}
